/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Header */
  .header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  /* Navbar */
  .navbar {
    background-color: #333;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 0 15px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
  }
  
  .navbar ul li a:hover {
    background-color: #4CAF50;
  }
  
  /* Formulario */
  .form-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cotizacion-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .cotizacion-form input, .cotizacion-form select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .btn-submit {
    width: 100%;
    padding: 0.7rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #45a049;
  }
  
  /* Vehículos Disponibles */
  .vehiculos-disponibles {
    margin-top: 2rem;
  }
  
  .vehiculos-disponibles ul {
    list-style-type: none;
    padding: 0;
  }
  
  .vehiculos-disponibles li {
    background-color: #f4f4f4;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Footer */
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
  }
  